<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.ucla.cs.SmartAlarm" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>


	<application android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".ServiceStarter" android:label="@string/app_name" android:screenOrientation="portrait" android:icon="@drawable/alarm">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".SAService"></service>

		<activity android:name=".HeartMonitor" android:label="HeartMonitor"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity android:name=".DeviceListActivity" android:label="@string/select_device"
			android:theme="@android:style/Theme.Dialog" android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity android:name=".SettingsActivity" android:label="Settings">
		</activity>
		<activity android:name=".AlarmActivity" android:label="Alarm">
		</activity>
		<activity android:name=".AlarmController" android:label="AlarmControl">
		</activity>
		<activity android:name=".WakeupActivity" android:label="WakeupActivity">
		</activity>
	</application>
</manifest>